# ide
/.idea
/.vscode

# castor
.castor.stub.php

# db volumes
/.docker/db/data
/.docker/db/sql/*
!/.docker/db/sql/.gitkeep

# storage
/.storage/*
!/.storage/.gitkeep

# composer auth (optional)
/.docker/.composer-auth.json

# custom docker compose
/compose.override.yaml

# env vars
/.env

# misc
*.patch
*.drawio
/TODO.md
